<h1>Motivated by Need</h1>
<p>CrowdRescue HQ harnesses the crowd-sourced power of social media to expand the capacity of our formal disaster response teams. We are not an emergency service. We provide support through real-time ArcGIS mapping solutions used for both search and rescue missions and post-event relief, broadcasts of emergency conditions available to anyone with an Internet connection, SOS hashtags used to coordinate with and support local 911 services, and public service campaigns aimed at supporting victim relief.</p>
<%= image_tag "Hands_Holding", class: 'img-fluid' %>

<h2>We help the helpers.</h2>
<%= image_tag "BananaPhone", class: 'img-fluid' %>