<h1>CrowdRescue HQ</h1>

<h2>Crowd sourced disaster support. Motivated by need. Fueled by volunteers.</h2>

<h3>Current Project:</h3>

<%= link_to "PA'LANTE MUNICPIOS", onward_muni_path, class: 'btn btn-danger text-danger', style: 'background-color:rgba(0,0,0,0);border-radius:0px;' %>

<br><br>

<p>CrowdRescue HQ harnesses the crowd-sourced power of social media to expand the capacity of our formal disaster response teams.</p>

<h3 class="text-center"><strong>We are not an emergency service.</strong></h3>

<%= image_tag "CRHQ_Map_Montage", class: 'img-fluid' %>

<p>We connect people with help &mdash; confirming status, entering information into a database, and handing it off to volunteer rescuers and local/federal USAR teams for rescue and relief.</p>

<p>We use the crowd-sourced power of social media to expand the capacity of our formal disaster response teams. We help the helpers.</p>

<hr>

<h1>Current Project</h1>
<h3>Help the people of Puerto Rico!</h3>

<p>Months have passed since Hurricane María, yet thousands of families remain isolated without electricity or safe water. In Puerto Rico's vibrant cities, people leave work and return home to persistent darkness. In the beautiful countryside, rivers and springs are contaminated. Houses lack roofs, and people everywhere are living with dangerous mold, surrounded by debris that was never cleared away. Each municipality has a different topography and character, and each faces different circumstances in this ongoing crisis.</p>

<h3>What is Pa'lante Municipios (Onward Municipalities)?</h3>

<p>When the hurricanes swept through Puerto Rico in September, volunteers around the world worked together to crowd source information. Communications on the island were devastated, so CrowdRescue HQ gathered, vetted, confirmed, and shared information through detailed maps and broadcasts that were used to guide rescue efforts on the ground.</p>

<p>Nearly three months later, we’re sharing information about the continuing emergency. We hope that individuals and organizations will be inspired to partner with Puerto Rico’s 78 Municipalities (municipios) to support their ongoing work of recovery—rebuilding and moving forward. ¡Pa’lante!</p>

<p>Through sharing information about the continuing emergency in Puerto Rico, we hope to inspire individuals and organizations to sponsor these municipal regions.</p>

<%= link_to "PA'LANTE MUNICPIOS", onward_muni_path, class: 'btn btn-danger text-danger', style: 'background-color:rgba(0,0,0,0);border-radius:0px;' %>
