<h1>CrowdRescue HQ</h1>

<h2>Crowd sourced disaster support. Motivated by need. Fueled by volunteers.</h2>

<p>CrowdRescue HQ harnesses the crowd-sourced power of social media to expand the capacity of our formal disaster response teams.</p>

<h3 class="text-center"><strong>We are not an emergency service.</strong></h3>

<%= image_tag "CRHQ_Map_Montage" %>

<p>We connect people with help &mdash; confirming status, entering information into a database, and handing it off to volunteer rescuers and local/federal USAR teams for rescue and relief.</p>

<p>We connect people with help — confirming status, entering information into a database, and handing it off to volunteer rescuers and local/federal USAR teams for rescue and relief.</p>
