<h1>Our Story</h1>

<p>The first day, all we had to go on, mission-wise, was a sense of horror over a mountain of desperate SOS tweets. It was August 27, 2017, and pleas were coming in from Houston. Mired in panic, people in flooded homes weren’t able to get through to 9-1-1, and had turned to social media, hoping someone - anyone - would hear them. Emergency responders didn’t have the social media capacity to respond, though, and terrified people could not use the one avenue by which they could call for help.</p>

<p>By afternoon, it was clear thousands of people had no hope. We did, though… a school teacher, a few federal workers, an educational consultant, a mapping expert, a Twitter celebrity - normal folks who’d developed online friendships, but never met. One of us suggested we gather those SOS messages and throw the information into a spreadsheet. So we flew around Twitter, responding to rescue pleas with “HarveySOS.” A backup team followed behind, doing spreadsheet entry and pinning locations into a rudimentary Google map. We figured we’d hand it over to first responders later that day.</p>

<p>We had no idea. Thankfully, we had no idea - how enormous - how grave - how overwhelming the task would be.</p>

<div class='text-center'>
  <%= image_tag "HarveyMap", class: "img-fluid" %>
</div>

<p>In the beginning, we worked on faith. We knew our data represented real people desperate for help, but we had no idea whether emergency services would find it useful. Then we heard directly from a regional Coast Guard rescue team on the ground, who were working from our online map. We got a “thank you” tweet from Houston’s emergency services account. We saw the USAR teams update our map dashboard with completed rescues. We started connecting with rescue boaters, and they appreciated the accuracy of data so much they started disseminating our map for us. Boaters started coming to us for dispatch, and we launched our own Zello channel.</p>

<hr>

<p>We continued to work closely with Google and GIS engineers to make sure the information we provided was accurate and actionable. We formed a strategic partnership with Esri; and reached out for corporate support from Twitter, Fulcrum, Tableau, Team Rubicon, and SlackHQ.</p>

<p>The NAPSG Foundation quickly became our key agency partner. NAPSG is a not-for-profit organization whose key focus is building the capacity of emergency responders and public safety leaders to use geospatial tools and technology to enhance mission critical decision making. They saw an opportunity to help, and provided guidance around Public Safety Symbology, use of available data, and best practices around layers, maps, and apps. They gave us a huge boost by incorporating our data into a mobile dashboard they created for FEMA and the U.S. Coast Guard.</p>

<div class='text-center'>
  <%= image_tag "MAPS", class: 'img-fluid' %>
</div>

<p>Through the combined help of our key partners, CRHQ volunteers were able to create a fully integrated data pipeline for processing rescue requests that involved both automated and manual validation of information critical to first responders for carrying out rescues.</p>

<hr>

<p>Throughout Hurricanes Harvey, Irma, Maria, and Nate; CrowdRescue HQ has taken on a life of its own... a place with its own heartbeat.</p>

<div class='text-center'>
  <%= image_tag 'Hands_Holding', class: 'img-fluid' %>
</div>

<p>We directly influenced the community-sourced rescue of over 6000 people in the aftermath of Hurricane Harvey in the Houston area. We've also helped rescue countless dogs, cats, horses, and cows; as well as a cobra, a tiger, manatees and a sea lion (after Hurricane Irma).</p>

<p>Twitter continues to be our main social media outreach platform, but our work has been featured in several influential and wide-reaching media; such as Now This, CNN, Time, NPR, and The Atlantic.</p>

<p>We’re at once both completely perfect and incredibly messy - buoyed by the goodness of the work, and broken by its gravity. We believe that's how we're successful, and why we feel so impassioned about this work.</p>

<p>Mr. Rogers said it best: Look for the helpers. Indeed, the helpers are in plain sight. CrowdRescue HQ just lifts them higher.</p>

<div class='text-center'>
  <%= image_tag 'CRHQ_avatar_round_HR', class: 'img-fluid', width: '100px' %>
</div>