<h1>Past Projects</h1>

<%= image_tag "PR_Flag", class: 'img-fluid', width: '200px' %>

<h2>Hurricane Maria (Puerto Rico)</h2>

<p>Initially, CrowdRescue HQ prepared for a rescue response, should Hurricane Maria make landfall in the continental United States. But United States Territory Puerto Rico was ravaged; and families were left without water, electricity, food, gasoline, and communication channels. Seeing people suffering, CRHQ volunteers came together with an idea: use their social media model to gather informational resources for victims they were unable to help through direct rescue support. We formed deeper partnerships with our existing partners - Google, Fulcrumapp, Tableau, SlackHQ, NAPSG Foundation, and Esri - to create a fully interactive ground conditions map; highlighting status regarding roads, bridges, power lines, fuel, sewage, trash, food, water, healthcare resources, and communications. Organizations like FEMA and USATF used this intelligence to support their search and rescue teams.</p>

<hr>

<%= image_tag "FL_Flag", class: 'img-fluid', width: '200px' %>

<h2>Hurricane Irma (Florida)</h2>

<p>During Hurricane Irma, we built out our technical tools and scaled up our organizational capacity. We learned how to quickly onboard and orient new volunteers, putting each one through a Boot Camp led by our operations chiefs. We dispatched to local groups; triaged conditions over the phone; and cold called churches, condo associations, and grocery stores to investigate conditions on the ground and the wellbeing of local residents. Data from these direct contacts and social media fed into a GIS map dashboard used directly by USCG and FEMA urban search and rescue teams, as well as the Emergency Operations Center (EOC) on Marathon Key and the U.S. Fish and Wildlife Center.</p>

<hr>

<%= image_tag "TX_Flag", class: 'img-fluid', width: '200px' %>

<h2>Hurricane Harvey (Texas)</h2>

<p>People who couldn’t get through to 9-1-1 posted on Twitter for rescue. CrowdRescue HQ volunteers scooped their info into our system, which then flowed to FEMA and USCG via a NAPSG Foundation dashboard. Meanwhile, our volunteer dispatch team facilitated handoff to volunteer rescuers and local/federal USAR teams for use during triage and rescue - all while working over the phone to keep survivors calm as they waited for help. We updated our dispatch system after each rescue, helping exponentially speed the rescue work of federal, city and volunteer responders.</p>