<h1>Powered by Everyday Heroes</h1>
<p>CrowdRescue HQ is powered by everyday heroes: Laptop rescue warriors, who coordinate with emergency services to expand the capacity of formal disaster response teams.</p>

<h2>Support the People of Puerto Rico</h2>

<%= image_tag "PuertoRico_Cafe", class: 'img-fluid' %>

<p>If you're active on social media sites like Twitter and Facebook, please share our <%= link_to 'Puerto Rico Ground Conditions Map', 'https://www.arcgis.com/apps/webappviewer/index.html?id=24da7c00f59a4876989c4e7b02e0a3ab&extent=-7550145.754,1989803.0956,-7256627.5654,2138702.4267,102100' %></p>

<p>The more people know about the struggles in Puerto Rico, the more help people will receive.</p>

<h2>Become a Volunteer</h2>

<%= image_tag "SuperHeros", class: 'img-fluid' %>

<p><%= link_to 'See what it\'s like', 'https://www.facebook.com/NowThisNews/videos/1570203686403083/' %> to volunteer with CrowdRescue HQ!</p>

<p>If you'd like to be contacted about future volunteer opportunities, please get in touch. We'd love to hear about you and how you see yourself contributing to disaster support!</p>